<div class="relative flex justify-end flex-grow flex-col h-full bg-white">
    <div class="flex flex-col justify-end h-full w-full">
        <div class="h-full relative w-full">
            <div class="z-10 relative h-full">
                <ul x-cloak x-ref="chatMessages" x-show="showMessages" class="chat-container"></ul>
            </div>
        </div>
        <div class="main-input-wrap flex-none" @click.outside="closeCustomizeText">
            <div x-transition x-cloak x-show="showOption" class="options">
                <div class="inline-flex p-2 gap-4">
                    <img @click="showDrawPad" src="/images/defaults/brush.webp" class="icon-md">
                    <img @click="customizeTextDialog;showOption=false" src="/images/defaults/palette.webp"
                         class="icon-md">
                    <div class="relative flex-none">
                        <input x-ref='upload' @change="uploadImage($event)" class="input-image" type="file"
                               accept="image/*">
                        <img @click="$refs.upload.click(); showOption=false" src="/images/defaults/picture.webp"
                             class="icon-md">
                    </div>
                </div>
            </div>
            <div x-transition x-cloak x-show="isRecording"
                 class="z-40 absolute bottom-[55px] left-12 bg-red-500 rounded border border-gray-200 flex justify-center p-1 items-center gap-1">
                <div class="bg-white rounded-full w-[10px] h-[10px] animate-ping mx-auto"></div>
                <p class="text-white font-bold text-[12px] mx-auto" x-text="'Rec '+ remainingTime"></p>
            </div>
            <div x-ref="mainEmojis" x-transition x-cloak x-show="showEmo" class="emo-wrap"></div>
            <div class="w-full h-full gap-2 ">
                <div class="flex items-center h-full px-2 w-full">
                    <img @click="showOption=!showOption;showEmo=false" src="/images/defaults/plus.webp" class="icon-md">
                    <img @click="showEmo=!showEmo;showOption=false" src="/images/defaults/smiley.webp" class="icon-md">
                    <img @click="recordMainAudio" src="/images/defaults/mic.webp" alt="" class="icon-md">
                    <div class="flex items-center flex-1">
                        <label class="h-10 flex w-full">
                            <input x-ref="mainInput" @keyup.enter="sendMessage" class="input-message"
                                   type="text" spellcheck="false" placeholder="Write something here..."
                                   autocomplete="off">
                        </label>
                    </div>
                    <img @click="sendMessage" src="/images/defaults/send.webp" class="icon-md">
                </div>
            </div>
        </div>
    </div>
</div>



