<div @click.outside="showDropDown = false" class="header-wrap" th:object="${user}">
    <div id="header" class="header">
        <div class="h-full flex gap-2 items-center">
            <div @click="toggleLeft" class="relative mx-2 lg:hidden">
                <i class="fa-solid fa-bars icon-white"></i>
                <p x-cloak x-show="totalCount>0" x-transition x-text="totalCount" class="count"></p>
            </div>
            <div class="flex gap-2 items-center cursor-pointer lg:ml-4">
                <img @click="showDropDown = !showDropDown" class="avatar" :src="user.avatar" th:src="*{avatar}">
                <p class="room-name" th:text="'#'+${room.name}"></p>
            </div>
        </div>
        <div class="h-full flex lg:w-80 justify-end items-center gap-4 pr-4">
            <div th:if="${permission.reports}" @click="openReportsModal" class="relative">
                <i class="fa-solid fa-flag icon-white"></i>
                <p x-cloak x-show="reportNotifiCount > 0" x-transition class="count" x-text="reportNotifiCount"></p>
            </div>
            <div @click="openMessageModal" class="relative">
                <i class="fa-solid fa-envelope icon-white"></i>
                <p x-cloak x-show="pvtNotifiCount > 0" x-transition class="count" x-text="pvtNotifiCount"></p>
            </div>
            <div @click="openNotificationModal" class="relative">
                <i class="fa-solid fa-bell icon-white"></i>
                <p x-cloak x-show="notifiCount > 0" x-transition class="count" x-text="notifiCount"></p>
            </div>
            <i @click="toggleRight" class="fa-solid fa-user-group icon-white md:hidden block"></i>
        </div>
    </div>
    <div x-show="showDropDown" x-cloak class="h-menu-wrap" x-transition.origin.top.left>
        <div @click="showProfile = true; showDropDown= false" class="h-menu">
            <i class="fa-solid fa-user-pen"></i>
            <p>Profile</p>
        </div>
        <div class="h-menu">
            <i class="fa-solid fa-gear"></i>
            <p>Room Settings</p>
        </div>
        <div class="h-menu">
            <i class="fa-solid fa-desktop"></i>
            <p>Admin Panel</p>
        </div>
        <div @click="showLogoutDialog; showDropDown=false;" class="h-menu">
            <i class="fa-solid fa-right-from-bracket"></i>
            <p>Logout</p>
        </div>
    </div>
</div>
