<div x-show="showLeft" class="left-side-wrap"
     x-transition:enter="transition ease-in-out duration-50"
     x-transition:enter-start="opacity-0 transform scale-x-0 -translate-x-1/2"
     x-transition:enter-end="opacity-100 transform scale-x-100 translate-x-0"
     x-transition:leave="transition ease-in-out duration-50"
     x-transition:leave-start="opacity-100 transform scale-x-100 translate-x-0"
     x-transition:leave-end="opacity-0 transform scale-x-0 -translate-x-1/2">
    <div class="h-full w-full flex flex-col rounded-tr-xl lg:rounded-none">
        <div class="left top-0 flex flex-col overflow-y-auto overflow-x-hidden h-full w-full">
            <ul class="flex flex-col ">
                <li class="pt-4 px-1">
                    <div @click="openRoomsModal" class="menu-wrap">
                        <div class="menu border-red-600">
                            <img class="menu-img" src="images/defaults/chatrooms.webp" alt="">
                            <p class="menu-text">
                                Room List
                            </p>
                        </div>
                    </div>
                </li>
                <li class="pt-4 px-1">
                    <div class="menu-wrap">
                        <div class="menu border-green-600">
                            <img class="menu-img" src="images/defaults/announcement.webp" alt="">
                            <p class="menu-text">
                                Announcement
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
