<div x-show="showLeft" class="left-side-wrap"
     x-transition:enter="transition ease-in-out duration-50"
     x-transition:enter-start="opacity-0 transform scale-x-0 -translate-x-1/2"
     x-transition:enter-end="opacity-100 transform scale-x-100 translate-x-0"
     x-transition:leave="transition ease-in-out duration-50"
     x-transition:leave-start="opacity-100 transform scale-x-100 translate-x-0"
     x-transition:leave-end="opacity-0 transform scale-x-0 -translate-x-1/2"
     xmlns:x-transition="http://www.w3.org/1999/xhtml">
    <div class="p-[10px] flex-1 relative h-full w-full">
        <div class="h-full absolute inset-0 overflow-y-auto scrollbar">
            <div th:replace="client/fragments/stories.html"></div>
            <ul class="pb-4">
                <li class="pt-[10px] px-1">
                    <div @click="openRoomsModal" class="menu-wrap">
                        <div class="menu border-red-600">
                            <div class="flex items-center">
                                <img class="menu-img" src="/images/defaults/chatrooms.webp" alt="">
                                <p class="menu-text">Room List</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="pt-[10px] px-1">
                    <div @click="openNewsModal" class="menu-wrap">
                        <div class="menu border-green-600">
                            <div class="flex items-center ">
                                <img class="menu-img" src="/images/defaults/announcement.webp" alt="">
                                <p class="menu-text">Announcement</p>
                            </div>
                            <p x-cloak x-show="news.unReadCount>0" x-text="news.unReadCount" class="count-md"></p>
                        </div>
                    </div>
                </li>
                <li class="pt-[10px] px-1">
                    <div @click="openGlobalFeedModal" class="menu-wrap">
                        <div class="menu border-blue-600">
                            <div class="flex items-center ">
                                <img class="menu-img" src="/images/defaults/global-feed.webp" alt="">
                                <p class="menu-text">Global Feed</p>
                            </div>
                            <p x-cloak x-show="globalFeed.unReadCount>0" x-text="globalFeed.unReadCount"
                               class="count-md"></p>
                        </div>
                    </div>
                </li>
                <li th:if="${rank.code == 'owner' || rank.code=='super admin' || rank.code=='admin' || rank.code =='moderator'}"
                    class="pt-[10px] px-1">
                    <div @click="openAdminshipModal" class="menu-wrap">
                        <div class="menu border-yellow-600">
                            <div class="flex items-center ">
                                <img class="menu-img" src="/images/defaults/adminship.webp" alt="">
                                <p class="menu-text">AdminShip</p>
                            </div>
                            <p x-cloak x-show="adminship.unReadCount>0" x-text="adminship.unReadCount"
                               class="count-md"></p>
                        </div>
                    </div>
                </li>
                <li class="pt-[10px] px-1">
                    <div @click="openTopPointsModal" class="menu-wrap">
                        <div class="menu border-cyan-600">
                            <div class="flex items-center ">
                                <img class="menu-img" src="/images/defaults/top-points.webp" alt="">
                                <p class="menu-text">Top Points</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
