<div x-show="showRight" class="right-side-wrap"
     x-transition:enter="transition ease-in-out duration-50"
     x-transition:enter-start="opacity-0 transform scale-x-0 translate-x-1/2"
     x-transition:enter-end="opacity-100 transform scale-x-100 -translate-x-0"
     x-transition:leave="transition ease-in-out duration-50"
     x-transition:leave-start="opacity-100 transform scale-x-100 -translate-x-0"
     x-transition:leave-end="opacity-0 transform scale-x-0 translate-x-1/2"
     xmlns:x-transition="http://www.w3.org/1999/xhtml">
    <div class="h-full w-full flex flex-col rounded-tl-xl lg:rounded-none absolute">
        <div x-cloak x-show="showMessages"
             class="shadow-lg shadow-primary-800/30 lg:shadow-none top-0 flex flex-col overflow-y-auto scrollbar overflow-x-hidden h-full w-full rounded-tl-xl rounded-bl-xl lg:rounded-none">
            <div class="p-2">
                <div class="label"><i class="fa-brands fa-firefox-browser mr-1"></i>
                    <span x-text="'Online (' + onlineUsers.length + ')'"></span>
                </div>
            </div>
            <ul>
                <template x-for="onUser in onlineUsers" :key="onUser.id">
                    <li class="user-wrap" @click="getUserProfile(onUser.id)">
                        <div class="w-full h-8 gap-2">
                            <div class="flex h-full w-full items-center">
                                <img class="avatar flex-none mx-1" :src="onUser.avatar">
                                <div class="flex-1 px-1 whitespace-nowrap overflow-hidden">
                                    <p class="ellipsis">
                                        <span x-text="onUser.name" class="username clip"
                                              :class="[onUser.nameColor, onUser.nameFont]"></span>
                                        <span x-text="'Lv.' + onUser.level" class="level"></span>
                                    </p>
                                    <p x-text="onUser.mood" class="mood ellipsis clip"
                                       :class="[onUser.nameColor, onUser.nameFont]"></p>
                                </div>
                                <template x-if="onUser.muted > 0">
                                    <i class="mr-2 fa-regular fa-hand text-red-500 text-xl"></i>
                                </template>
                                <img class="gender flex-none"
                                     :src="onUser.gender=='Male' ? 'images/gender/male.webp': 'images/gender/female.webp'">
                                <img class="rank-icon" :src="onUser.rank.icon" :title="onUser.rank.name">
                            </div>
                        </div>
                    </li>
                </template>
            </ul>
            <template x-if="offlineUsers.length > 0">
                <div class="p-2">
                    <div class="label"><i class="fa-solid fa-hashtag mr-1"></i>Offline</div>
                </div>
            </template>
            <ul>
                <template x-for="offUser in offlineUsers" :key="offUser.id">
                    <li class="offline user-wrap relative group" @click="getUserProfile(offUser.id)">
                        <div class="absolute top-0 left-0 h-full w-full bg-white/30 group-hover:hidden"></div>
                        <div class="w-full h-8 gap-2">
                            <div class="flex h-full w-full items-center">
                                <img class="avatar flex-none mx-1" :src="offUser.avatar">
                                <div class="flex-1 px-1 whitespace-nowrap overflow-hidden">
                                    <p class="ellipsis">
                                        <span x-text="offUser.name" class="username clip"
                                              :class="[offUser.nameColor, offUser.nameFont]"></span>
                                        <span x-text="'Lv.' + offUser.level" class="level"></span>
                                    </p>
                                    <p x-text="offUser.mood" class="mood ellipsis clip"
                                       :class="[offUser.nameColor, offUser.nameFont]"></p>
                                </div>
                                <template x-if="offUser.muted > 0">
                                    <i class="mr-2 fa-regular fa-hand text-red-500 text-xl"></i>
                                </template>
                                <img class="gender flex-none"
                                     :src="offUser.gender=='Male' ? 'images/gender/male.webp': 'images/gender/female.webp'">
                                <img class="rank-icon" :src="offUser.rank.icon" :title="offUser.rank.name">
                            </div>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</div>
