<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:x-transition="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${'Ktor Chat - ' + room.name}"></title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel='stylesheet' href="/css/styles.css">
</head>
<body x-data="chat" th:classappend="${domain.theme}" class="">
<div class="main h-screen flex flex-col justify-between overflow-hidden relative">
    <div th:replace="client/fragments/header.html"></div>
    <div class="flex w-full flex-1 justify-between relative">
        <div th:replace="client/fragments/left-side.html"></div>
        <div class="flex h-full w-full ">
            <div class="flex flex-grow">
                <div th:replace="client/fragments/chat-lobby.html"></div>
                <div th:replace="client/fragments/right-side.html"></div>
            </div>
        </div>
    </div>
    <div x-cloak x-transition x-show="showAlert" x-ref="alertMsg" class="alert"></div>
    <div x-cloak x-show="showLoader" class="loader-wrap">
        <div class="loader" x-transition x-show="showLoader"></div>
    </div>
    <div x-cloak x-show="showFulModal" class="full-modal-wrap"
         x-transition:enter="transition ease-in-out duration-200"
         x-transition:enter-start="opacity-0 transform scale-x-0 translate-x-1/2"
         x-transition:enter-end="opacity-100 transform scale-x-100 -translate-x-0"
         x-transition:leave="transition ease-in-out duration-200"
         x-transition:leave-start="opacity-100 transform scale-x-100 -translate-x-0"
         x-transition:leave-end="opacity-0 transform scale-x-0 translate-x-1/2">
        <div x-ref="fullModalContent" class="full-modal"></div>
    </div>
    <div x-cloak x-show="showModal" class="small-modal-wrap">
        <div x-ref="modalContent" x-show="showModal" x-transition class="small-modal"></div>
    </div>
    <div x-cloak x-show="showImage" class="full-image-wrap">
        <div x-ref="fullImage" x-show="showImage" x-transition class="full-image">
        </div>
    </div>
    <div th:replace="client/fragments/profile.html"></div>
    <div th:replace="client/fragments/user-profile.html"></div>
    <div th:replace="client/fragments/private.html"></div>
</div>

<script th:inline="javascript">
    const domain = [[${domain}]]
    const room = [[${room}]]
    const rank = [[${user.rank}]]
    const permission = [[${permission}]]
    let name = [[${user.name}]]
    let nameColor = [[${user.nameColor}]]
    let nameFont = [[${user.nameFont}]]
    let mood = [[${user.mood}]]
    let about = [[${user.about}]]
    let textBold = [[${user.textBold}]]
    let textColor = [[${user.textColor}]]
    let textFont = [[${user.textFont}]]
    const gender = [[${user.gender}]]
    const avatar = [[${user.avatar}]]
    const level = [[${user.level}]]
    const userId = [[${user.id}]]
    const status = [[${user.status}]]
    const joined = [[${user.createdAt}]]
    const dob = [[${user.dob}]]
    const points = [[${user.points}]]
    const pvt = [[${user.private}]]
    const chatSound = [[${user.chatSound}]]
    const pvtSound = [[${user.pvtSound}]]
    const nameSound = [[${user.nameSound}]]
    const notifiSound = [[${user.notifiSound}]]
    const muted = [[${user.muted}]]
</script>
<script src="/js/emojis.js"></script>
<script src="/js/chat.js"></script>
<audio class="hidden" x-ref="pvtSound" src="https://mytamilchat.com/chat/sounds/private.mp3"></audio>
<audio class="hidden" x-ref="chatSound" src="https://mytamilchat.com/chat/sounds/new_messages.mp3"></audio>
<audio class="hidden" x-ref="nameSound" src="https://mytamilchat.com/chat/sounds/username.mp3"></audio>
<audio class="hidden" x-ref="notifiSound" src="https://mytamilchat.com/chat/sounds/notify.mp3"></audio>
<audio class="hidden" x-ref="AnnounceSound" src="https://mytamilchat.com/chat/sounds/new_news.mp3"></audio>
</body>
</html>
