<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebSocket Chat - User Login</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel='stylesheet' href="/assets/css/styles.css">
</head>
<body class="bg-blue-50 w-screen">
<div class="flex-col flex pt-4 lg:p-10 pb-14 w-full px-2">
    Error 404
</div>
<script src="/assets/js/lib/jquery-3.6.0.min.js"></script>
</body>
</html>